@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/targetModule.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Frame work name setup on load</h2>
        <input type="text" id="inpTarget"/>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var module = new TM();
        module.doTestableAction('inpTarget');
    });
</script>